@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

img, video {
    width: 100%;
    display: block;
}



html,
body {
    text-size-adjust: none;
    /* text-size-adjust : 브라우저가 자동으로 텍스트 크기를 확대 및 축소하는 것을 제어한다. */
    /* 가로 모드로 바꾸면 글자가 커지거나 줄어드는 경우가 있는데, 이 속성을 none으로 하면 디자인한 글자 크기가 유지된다. */
    /* 모바일 브라우저에서 글자 크기를 자동으로 바꾸지 못하게 막는 설정 */
    /* 디자인 의도대로 폰트 크기를 고정하려는 용도 */
    /* prevent font scaling in landscape */
    -webkit-text-size-adjust: none;
    /* chrome, safari, 최신 opera */
    -moz-text-size-adjust: none;
    /* firefox */
    -ms-text-size-adjust: none;
    /* internet explorer */
    -o-text-size-adjust: none;
    /* 예전 opera */
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #2F2C29;
}

#wrap {
    min-width: 1360px;
    background-color: #F2EFE6;
}

.top.active {
    transform: translateY(-100%);
    opacity: 0;
}

.top {
    height: 30px;
    background-color: #2F2C29;
    transform: translateY(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.top p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.top a {
    display: block;
}

#visual {
    color: #F0EEE9;
    height: 900px;
}

.header.scrolled .nav {
    top: 0;
    background-color: rgba(47, 44, 41, 0.4);
}

.nav {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 99;
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.blur_box {
    background-color: rgba(47, 44, 41, 0.4);
    width: 100%;
    height: 348px;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);  /* 사파리 대응 */

    display: none;
}

.inner_nav {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.gnb {
    display: flex;
}

.gnb li:hover {
    color: rgba(225, 225, 225, 0.8);
}

.gnb>li {
    padding-top: 20px;
}

.gnb>li>a {
    display: block;
    margin: 0 30px;
    padding-bottom: 26px;
}

.gnb > li:first-child > a {
    margin-left: 0;
}
.gnb > li:last-child > a {
    margin-right: 0;
}

.gnb li:hover .submenu {
    /* 서브메뉴 나타남 */
    display: block;
}

.submenu {
    width: 100%;
    height: 280px;
    padding-top: 50px;
    box-sizing: border-box;
    position: absolute;
    top: 74px;
    left: 0;
    z-index: 99;
    /* 서브메뉴 숨김 */
    display: none;
}

.bg {
    text-align: center;
    color: #F0EEE9;
}

.inner_submenu {
    display: flex;
    width: 1320px;
    margin: 0 auto;
}

.inner_submenu ul {
    display: flex;
    gap: 50px;
}

.inner_submenu ul li {
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 30px;
}

.logo {
    padding-bottom: 10px;
}

.util {
    display: flex;
    gap: 50px;
    margin-right: 30px;
}

.util li:hover {
    color: rgba(225, 225, 225, 0.8);
}

#visual .swiper {
    width: 100%;
}

#visual .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

#visual .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_name01,
.slogan01,
.main_name02,
.slogan02,
.main_name03,
.slogan03 {
    font-family: "Marcellus", serif;
}

.main01,
.main02,
.main03 {
    position: relative;
}

.title {
    font-family: "Marcellus", serif;
    font-size: 50px;
    font-weight: 300;
    position: absolute;
    top: 500px;
    left: 200px;
}

.main_name01 {
    font-size: 28px;
    position: absolute;
    top: 580px;
    left: 200px;
}

.slogan01 {
    font-size: 20px;
    position: absolute;
    top: 660px;
    left: 200px;
}

.btn_more01 {
    position: absolute;
    top: 695px;
    left: 205px;
}

.main_name02 {
    font-size: 28px;
    position: absolute;
    top: 470px;
    right: 240px;
}

.slogan02 {
    font-size: 20px;
    position: absolute;
    top: 520px;
    right: 315px;
}

.btn_more02 {
    position: absolute;
    top: 575px;
    right: 500px;
}

.main_name03 {
    font-size: 28px;
    position: absolute;
    top: 380px;
    left: 330px;
}

.slogan03 {
    font-size: 20px;
    position: absolute;
    top: 430px;
    left: 430px;
}

.btn_more03 {
    position: absolute;
    top: 490px;
    left: 600px;
}

.btn_more01:hover,
.btn_more02:hover,
.btn_more03:hover {
    opacity: 0.8;
}

.btn_more01,
.btn_more02,
.btn_more03 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #F0EEE9;
}

/* section1 */
#section1 {
    width: 1320px;
    margin: 50px auto;
    height: 700px;
}

.shop {
    display: flex;
    justify-content: space-between;
}

.shop h1 {
    font-family: "Marcellus", serif;
    font-size: 40px;
    font-weight: 200;
    padding: 30px 0 40px 20px;
}

.shop p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    padding: 90px 10px 0 0;
}

.shop p a {
    display: inline-block;
    border-bottom: 1px solid #2F2C29;
}

.shop p:hover {
    opacity: 0.5;
}

#section1 ul {
    display: flex;
    gap: 38px;
}

.perfume_text,
.ml,
.price {
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
}

.perfume_name {
    text-align: center;
    font-family: "Marcellus", serif;
    font-size: 24px;
    padding-top: 30px;
}

.perfume_text {
    padding-top: 20px;
}

.ml {
    padding-top: 30px;
}

/* scetion2 */
#section2 {
    height: 500px;
    /* background: url(../images/main_images/main_img4.svg); */
    background: url(../images/main_images/main_img4.svg) no-repeat center center / cover;
    position: relative;
    background-attachment: fixed;
}

.best_scent {
    color: #F0EEE9;
    position: absolute;
    top: 90px;
    left: 500px;
}

.best,
.best_name,
.best_family {
    font-family: "Marcellus", serif;
}

.best {
    font-size: 48px;
    font-weight: 200;
    padding: 16px 0;
}

.best_name {
    font-size: 30px;
    font-weight: 200;
    padding: 4px 0;
}

.best_family {
    font-size: 16px;
}

.best_text,
.btn_more {
    font-family: "Noto Sans KR", sans-serif;
}

.best_text {
    font-size: 18px;
    padding-top: 80px;
}

.btn_more {
    font-size: 12px;
    font-weight: 300;
    padding-top: 5px; 
}

.btn_more a {
    display: inline-block;
    border-bottom: 1px solid #F0EEE9;
}

.btn_more:hover {
    opacity: 0.8;
}

/* section3 */
#section3 {
    width: 1320px;
    margin: 50px auto;
    height: 500px;
}

.journal ul {
    display: flex;
    justify-content: space-between;
}

.journal h1 {
    font-family: "Marcellus", serif;
    font-size: 40px;
    font-weight: 200;
    padding: 0 0 10px 20px;
}

.journal p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    padding: 0 0 20px 10px;
}

.journal_img {
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
}

.journal_img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}

.lp_default {
    z-index: 2;
    opacity: 1;
    transform: scale(1);
}

.lp-hover {
    z-index: 1;
    opacity: 0;
    transform: scale(0.9);
}

.journal_img:hover .lp_default {
    opacity: 0;
    transform: scale(1.1) rotate(45deg);
}

.journal_img:hover .lp-hover {
    opacity: 1;
    transform: scale(1);
}

/* section4 */
#section4 {
    height: 700px;
    color: #F0EEE9;
    font-family: "Marcellus", serif;
    position: relative;
}

.video {
    width: 100%;
    height: 700px;
}

.brand_story {
    width: 1320px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 62px;
}

.brand_story h1 {
    font-size: 40px;
    font-weight: 200;
}

.brand_story p {
    font-size: 20px;
    text-align: center;
    padding-top: 186px;
}

.brand_story h3 {
    font-size: 30px;
    font-weight: 200;
    padding-top: 30px;
}

.brand_story h3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brand_story img {
    display: block;
    width: 53px;
    height: 30px;
}

.brand_story h3:hover {
    opacity: 0.5;
}

/* section5 */
#section5 {
    width: 1320px;
    margin: 50px auto;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.news h1,
.notes h3,
.commu h1,
.join,
.btn_follow p {
    font-family: "Marcellus", serif;
}

.news h1,
.commu h1 {
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}

.notes h3 {
    font-size: 30px;
    font-weight: 100;
    padding: 20px 0;
}

.notes p,
.mail,
.insta p {
    font-family: "Noto Sans KR", sans-serif;
}

.notes p {
    font-size: 16px;
}

.btn_mail {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 100px;
}

.search_bar {
    border: 1px solid #2F2C29;
    padding: 12px 10px 12px 40px;
}

.search_bar input {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #2F2C29;
    background-color: transparent;
    /* 배경색이 투명색으로 적용됨 */
    border: none;
    outline: none;
}

.search_bar input::placeholder {
    font-family: "Noto Sans KR", sans-serif;
    color: #2F2C29;
    opacity: 0.5;
}

.join {
    border: 1px solid #2F2C29;
    padding: 10px 20px;
}

.join p {
    opacity: 0.5;
}

.join:hover {
    background-color: #2F2C29;
    color: #F0EEE9;
}

.commu ul {
    display: flex;
    gap: 33px;
}

.insta {
    text-align: end;
}

.btn_follow {
    display: block;
    width: 82px;
    text-align: center;
    border: 1px solid #2F2C29;
    padding: 10px;
    margin: 15px auto 0;
    font-family: "Marcellus", serif;
}

.btn_follow p {
    opacity: 0.5;
}

.btn_follow:hover {
    background-color: #2F2C29;
    color: #F0EEE9;
}

.insta {
    padding: 30px 0 10px 0;
}

.insta_scent {
    font-size: 18px;
    font-weight: bold;
}

.moment {
    font-size: 16px;
}

.commu ul li img {
    border: 1px solid #2F2C29;
}

.news {
    border-right: 3px solid #2F2C29;
    padding-right: 70px;
}

/* section6 */
.store {
    display: flex;
}

.store_text {
    background-color: #2F2C29;
    color: #F0EEE9;
    width: 834px;
    height: 500px;
    position: relative;
}

.store_text h1 {
    font-family: "Marcellus", serif;
    font-size: 40px;
    font-weight: 200;
    position: absolute;
    top: 70px;
    left: 310px;
}

.store_img {
    width: calc(100% - 834px);
}

.store_img a {
    display: block;
    height: 100%;
} 

.store_img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.space {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: 200;
    opacity: 0.5;
    text-align: end;
    position: absolute;
    bottom: 150px;
    right: 90px;
}

.visit {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 100px;
    right: 90px;
}

.visit a {
    display: flex;
    align-items: center;
}

.visit img {
    display: block;
    width: 39px;
    height: 22px;
}

.visit:hover {
    opacity: 0.5;
}

/* footer */
#footer {
    font-family: "Noto Sans KR", sans-serif;
    color: #2F2C29;
}

.inner_footer {
    text-align: center;
    padding-top: 20px;
}

.inner_footer img {
    display: block;
    width: 170px;
    height: 51px;
    margin: 0 auto;
}

.footer_link {
    font-size: 14px;
    padding: 8px 0;
}

.footer_text {
    font-size: 10px;
}

.inner_footer ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 16px 0;
    font-size: 14px;
}